
.container {
  display: grid;
  grid-template-rows: 130px 406px 200px 650px 420px 80px;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  grid-template-areas: 
    'header'
    'main' 
    'section' 
    'aside' 
    'form' 
    'footer';
}

.header {
  background: rgb(255, 255, 255);
  grid-area: header;
  display: flex;
  justify-content: space-between;
  
}

.menu {
  width: 580px;
  margin-right: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.menu > div > p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(145, 145, 145);
  padding-bottom: 10px;
  text-align: center;
}

.logo {
  width: 300px;
  display: flex;
  margin-left: 200px;
}

.logo > img {
  width: 300px;
  height: 110px;
}

.main {
  background-image: url(images/main-background.png);
  grid-area: main;
  border: 5px solid rgb(252, 186, 80);
  border-right: none;
  border-left: none;
  position: relative;
}

.main > div {
  width: 380px;
  height: 65px;
  left: 220px;
}

.textbox1 {
  background-color: rgba(10, 10, 10, 0.7);
  top: 130px;
  position: absolute;
}

.textbox1 > p {
  color:  rgb(251, 156, 6);
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.textbox2 {
  background-color: rgba(251, 156, 6, 0.7);
  top: 220px;
  position: absolute;
}

.textbox2 > p {
  color:  rgb(110, 109, 107);
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.section {
  background: rgb(255, 255, 255);
  grid-area: section;
  border-bottom: 5px solid rgb(242, 242, 242);
  display: flex;
  justify-content: center;
}

.text {
  width: 300px;
  font-size: 15px;
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 23px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 200px;
}

.aside {
  background:  rgb(255, 255, 255);
  grid-area: aside;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  vertical-align: middle;
  color:  rgb(251, 156, 6);
  font-size: 40px;
  font-family: serif;
  font-weight: lighter;
  text-decoration: underline;
}

.bar {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content {
  width: 312px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content > h3 {
  text-align: center;
  font-family: 'Calibri';
  font-size: 22spx;
  color:  rgb(251, 156, 6);
  margin-top: 0;
  margin-bottom: 30px;
}

.content > p {
  font-family: 'Calibri';
  color:  rgb(110, 109, 107);
  line-height: 23px;
  padding-left: 20px;
  padding-right: 20px;
}

.letter {
  color:  rgb(110, 109, 107);
}

.form {
  background:  rgb(255, 255, 255);
  grid-area: form;
}

.form > h2 {
  margin-top: 0;
}

form {
  font-family: 'Calibri';
  font-size: 24px;
  color: rgb(251, 156, 6);
  width: 100%;
}

.formbox {
  display: flex;
  flex-direction: row;
}

.textfield {
  width: 130px;
}

input {
  margin-bottom: 30px;
  border-bottom: 5px rgb(210, 208, 207);
  border-right: 8px rgb(210, 208, 207);
  background-color: rgb(248, 247, 246);
  width: 1360px;
}

.inputmassege {
  height: 100px;
}

.formsubmit {
  font-family: serif;
  font-size: 24px;
  color: rgb(252, 252, 252);
  width: 100%;
  background-color: rgb(251, 156, 6);
  width: 150px;
  height: 40px;
  position: absolute;
  right: 30px;
}

.footer {
  background-color: rgb(251, 156, 6);
  grid-area: footer;
  border-bottom: 5px solid;
  border-color: rgb(234, 131, 15);
}

.footer > p {
  color: rgb(252, 252, 252);
  font-size: 33px;
  font-family: serif;
  text-align: center;
  margin: 20px;
}
