.color{
  color: rgb(180,50,40);
}
.colorname{
      color: orchid;
}
.unit{
  font-size: 20px;
}
.paragraph{
      text-indent: 20px;
}
.size{
  font-size: xx-large;
  font-family: fantasy;
}
.font{
  font-style: italic;
  font-variant: small-caps;
  font-weight: bolder;
  letter-spacing: 5px;
  line-height: 20px;
  word-spacing: 5px;
}
.requisitesfonts{
  font: 'italic' 'normal' 'bold' 20px/150% 'verdana';
}
.externalfonts{
  font-family: 'Roboto', 'sans-serif';
}
.border1{
  width: 400px;
  height: 200px;
  font-family: fantasy;
  background: palegreen;
  font-size: xx-large;
}