table{
  width: 100%;
  height: 100%;
}

.header{
  background-repeat: no-repeat;
  background: rgb(120, 211, 247);
  color: rgb(3, 3, 94);
  font-size: 28px;
  text-align: center;
}

b{
  font-size: 24px;
  font-weight: bold;
}

ul{
  font-size: 20px;
}

.nav{
  background-repeat: repeat-y;
  background: rgb(239, 247, 120);
  padding: 1% 1% 1% 1%;
  text-align: left;
  vertical-align: top;
  width: 17%;
}

.section{
  background-image: url('images/ball.png');
  background-position: right;
  background-repeat: repeat-y;
  font-size: 30px;
  padding: 0% 0% 0% 0%;
}

div{
  clear:none;
  font-size: 28px;
  text-align: left;
}

h2{
  text-align: center;
}

p{
  margin: 5px;
}

img{
  float:left;
  margin-left: 2%;
  margin-right: 2%;
  width:30%;
}

.ball{
  background: url('images/ball.png');
}

.footer{
  background-repeat: no-repeat;
  background: rgb(120, 211, 247);
  color: rgb(3, 3, 94);
  font-size: 28px;
  text-align: center;
}