* {
  width: 100vw;
  height: 100vh;
}


body {
  display: flex;
  flex-direction: row-reverse;
  margin-left: -170px;
  margin-right: 200px;
}

div {
  background-image: url('images/star1.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 200px;
  height: 200px;
}

div:hover ~ div {
  background-image: url('images/star2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-repeat: repeat-y;
}

div:hover {
  background-image: url('images/star2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-repeat: repeat-y;
}