.menu1{ 
  width: 100%;
  height: 10%;
}

div:nth-child(1){
  float:left;
  padding: 1%;
  text-align: center;
  font-size: 24px;
  border-width: 7px;
  border-right-style:solid;
  border-color: red;
}

div:nth-child(2){
  float:left;
  padding: 1%;
  text-align: center;
  font-size: 24px;
  border-width: 7px;
  border-right-style:solid;
  border-color: red;
}

div:nth-child(3){
  float:left;
  padding: 1%;
  text-align: center;
  font-size: 24px;
  border-width: 7px;
  border-right-style:solid;
  border-color: red;
}

div:nth-child(4){
  float:left;
  padding: 1%;
  text-align: center;
  font-size: 24px;
  border-width: 7px;
  border-right-style:solid;
  border-color: red;
}

div:nth-child(5) {
  float:left;
  padding: 1%;
  text-align: center;
  font-size: 24px;
  border-width: 7px;
  border-right-style:solid;
  border-color: red;
}

.menu2 {
  width: 100%;
}

td {
  float:left;
  padding: 12px;
  text-align: center;
  font-size: 24px;
  border-width: 7px;
  border-right-style:solid;
  border-color: red;
}
a:hover{
  color: greenyellow;
}

