div {
  width: 100%;
  height: 100%;
}

.item1 {
  animation: item1 2s ease-in infinite;
  background-color: greenyellow;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 0;
}

.item1:hover {
  animation-play-state: running;
}

@keyframes item1 {
  0% {
    left: 0;
  }

  50% {
    background-color: rgb(12, 194, 218);
    left: 350px;
  }

  100% {
    left: 0;
    background-color: rgb(12, 218, 29);
  }
  
}

.item2 {
  animation: item2 4s ease-in infinite paused;
  background-color: hotpink;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
}

.item2:hover {
  animation-play-state: running;
}

@keyframes item2 {
  0% {
    top:200px;
    left:0;
    transform: rotate(0deg);
  }

  100% {
    background-color: rgb(12, 218, 29);
    left: 600px;
    top: 100px;
    transform: rotate(45deg);
  }

}

.item3 {
  animation: item3 4s ease-in infinite;
  background-color: darkorange;
  width: 200px;
  height: 200px;
  top: 400px;
  position: absolute;
}

.item3:hover {
  animation-play-state: running;
}

@keyframes item3 {
  50% {
    left: 100px;
    top: 200px;
    transform: rotate(180deg);
  }
  
  100% {
    top:400px;
    left:0;
    transform: rotate(0deg);
  }

}