table {
  border: 30px solid; 
  border-color: green;
}

.firstblack > td:nth-child(odd){
  background-color: black;
  width: 50px;
  height: 50px;
}

.firstblack > td:nth-child(even){
  background-color: white;
  width: 50px;
  height: 50px;
}

.firstwhite > td:nth-child(odd){
  background-color: white;
  width: 50px;
  height: 50px;
}

.firstwhite > td:nth-child(even){
  background-color: black;
  width: 50px;
  height: 50px;
}


