
@media screen and (min-width:640px) {
  form {
    font-size: 18px;
    width: 100%;
  }

  .formpublication {
    border: 2px red;
    border-style: double;
  }

  textarea {
    resize: vertical;
  }

  label {
    display: block;
  }

  .block {
    display: inline;
  }

}

@media screen and (max-width:640px) {
  form {
    font-size: 18px;
    width: 600px;
  }
  
  .formpublication {
    border: 2px;
    border-color: red;
    border-style: double;
  }

  label {
    display: block;
  }
  
  .block {
    display: block;
  }

}