div:nth-child(1) {
  position: relative;
  width: 100%;
}

div:nth-child(2) {
  position: relative;
}

.image {
  position: absolute;
}

.image:hover {
  z-index: 1;
}

.image:first-child {
  top: 100px;
  left: 230px;
}

.image:nth-child(2) {
  top: -60px;
  left: 230px;
}

.image:nth-child(3) {
  top: 0px;
  left: 330px;
  width: 300px;
}

.image:nth-child(4) {
  top: 0px;
  left: 330px;
  width: 300px;
}