header {
  background-repeat: no-repeat;
  background: rgb(120, 211, 247);
  color: rgb(3, 3, 94);
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.window {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  width: 20%;
  background: rgb(245, 247, 120);
  font-size: 24px;
  padding: 1%;
  flex-direction: column;
}

.content {
  width: 80%;
  background-image: url('images/ball.png');
  background-position: right;
  background-repeat: repeat-y;
  font-size: 24px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.information {
  display: inline-block;

}

img {
  width: 400px;
  height: 250px;
  float: left;
  margin: 1%;
}

p {
  text-align: left;
  font-size: 28px;
  margin: 0;
}

footer {
  background-repeat: no-repeat;
  background: rgb(120, 211, 247);
  color: rgb(3, 3, 94);
  font-size: 28px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {

  header {
    width: 100%;
    text-align: center;
  }

  .window {
    display: flex;
    flex-direction: column-reverse;
  }

  .menu {
    width: 100%;
    width: 100%;
    background: 0;
    font-size: 24px;
    padding: 1%;
  }

  ul {
    padding-left: 0;
  }
  
  li {
    list-style-type: none;
    display: inline-block;
  }

  .content {
    width: 100%;
    font-size: 24px;
    background: white;
    padding: 1%;
    text-align: center;
  }

  .information {
    display: inline-block;
  
  }
  
  img {
    width: 100%;
    height: 100%;
  }

  p {
    margin: 1%;
  }

  footer {
    width: 100%;
    text-align: center;
  }
}

}