
p {
  color: blue;
  font-style: italic;
  text-align: left;
}

div:nth-child(2)::first-line {
  color:green;
}

div:nth-child(2) {
  color:red;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
}

.text:before {
  background: url('images/document.svg');  
  content:"  ";
  display: block;  
  float: left;
  height: 24px;  
  width: 24px; 
}

a {
  color: blue;
  font-weight: bolder;
}

