
.left{
  background: url('images/left.png') left; 
  background-repeat: repeat-y;
}

.right{
  background: url('images/right.png') right; 
  background-repeat: repeat-y;
}

.top{
  background: url('images/top.png') top; 
  background-repeat: repeat-x;
}

.bottom{
  background: url('images/bottom.png') bottom; 
  background-repeat: repeat-x;
}

.topleft{
  background: url('images/topleft.png') top left; 
  background-repeat: no-repeat;
}

.topright{
  background: url('images/topright.png') top right; 
  background-repeat: no-repeat;
}

.bottomleft{
  background: url('images/bottomleft.png') bottom left; 
  background-repeat: no-repeat;
}

.bottomright{
  background: url('images/bottomright.png') bottom right; 
  background-repeat: no-repeat;
}

.text{
  font-family: 'verdana';
  font-size: 50px;
  line-height: 100%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  text-align: center;
}
